<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>Sign Up</h2>

      <%= bootstrap_form_for resource, as: resource_name,
                             url: registration_path(resource_name) do |f| %>

        <div class="form-inputs">
          <%= f.email_field :email, autofocus: true %>

          <% if @validatable %>
            <%= f.password_field :password, autocomplete: 'off',
                                 help: "#{@minimum_password_length} characters minimum" %>
          <% else %>
            <%= f.password_field :password, autocomplete: 'off' %>
          <% end %>

          <%= f.password_field :password_confirmation, autocomplete: 'off' %>
        </div>

        <div class="form-actions">
          <%= f.submit 'Sign Up', class: 'btn btn-primary' %>
        </div>
      <% end %>

      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
