<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2><%= t '.sign_in' %></h2>

      <%= bootstrap_form_for resource, as: resource_name,
                             url: session_path(resource_name) do |f| %>

        <div class="form-inputs">
          <%= f.email_field :email, autofocus: true %>
          <%= f.password_field :password, autocomplete: 'off' %>

          <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %>
          <% end %>
        </div>

        <div class="form-actions">
          <%= f.submit t('.sign_in'), class: 'btn btn-primary' %>
        </div>
      <% end %>

      <%= render 'users/shared/links' %>
    </div>
  </div>
</div>
