<!DOCTYPE html>
<html ng-app="App">
<head>
  <% if is_default_locale? %>
      <base href="/admin/">
  <% else %>
      <base href="/admin/<%= I18n.locale %>/">
  <% end %>

  <title>Rails App Starter Kit - Admin</title>

  <%= stylesheet_link_tag 'admin/application', media: 'all' %>

  <%= javascript_include_tag 'admin/application' %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body ng-controller="AppCtrl">
  <%= render 'layouts/admin/top_nav' %>

  <please-wait></please-wait>

  <div class="container" id="flash-container">
    <flash-alerts></flash-alerts>
  </div>

  <%= yield %>

  <%= render 'layouts/admin/footer' %>

  <%= render 'layouts/shared/global_js_vars' %>

  <script type="application/javascript">
    Static.available_locales = <%= raw available_locales_json(I18nUtils.admin_avail_locales) %>;
  </script>
</body>
</html>
