<!DOCTYPE html>
<html ng-app="App">
<head>
  <title>Rails App Starter Kit - Admin</title>
  <%= stylesheet_link_tag 'admin/application', media: 'all' %>

  <%= javascript_include_tag 'admin/application' %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body ng-controller="AppCtrl">
  <%= render 'layouts/admin/top_nav' %>

  <please-wait></please-wait>

  <div class="container" id="flash-container">
    <%# Server-side flash messages %>
    <%= render 'layouts/shared/flash_alerts' %>

    <%# Client-side flash messages %>
    <flash-alerts></flash-alerts>
  </div>

  <%= yield %>

  <%= render 'layouts/admin/footer' %>

  <%# Set currently signed in user details, if any %>
  <script type="application/javascript">
    <% if (c = current_user_json) %>
    var CurrentUser = <%= raw c %>;
    <% else %>
    var CurrentUser = null;
    <% end %>
  </script>
</body>
</html>
