<!DOCTYPE html>
<html>
<head>
  <title>Rails App Starter Kit</title>
  <%= stylesheet_link_tag '//yui.yahooapis.com/pure/0.5.0/pure-min.css' %>
  <%= stylesheet_link_tag '//yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body ng-app="App">
  <%= render 'layouts/flash_messages' %>

  <%= yield %>
</body>
</html>